body {
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #020617;
  padding: 30px;
  width: 420px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.7);
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #1e293b;
}
